<div class="text-center my-3" style="max-width: 700px; margin: auto;">
  <h4>About</h4>
  <p>
    At McBurger, a love of good food, good people, and good times has always
    been at the heart of what we do. Launched in 2014, the concept was simple:
    to serve delicious, honest burgers, sides and drinks using quality
    ingredients at an affordable price. Our first 50-seat store in Ponsonby was
    a roaring success and the rest is history.
  </p>
  <p>
    Our food is ethical, nutritious and delicious – and that is something we
    will never compromise. We believe in the power of food to bring people
    together, and as well as offering genuine and slick service, we wanted to be
    a laid-back meeting place where friends and family can have great chats and
    bond over a burger. If we can brighten someone’s day by sitting down and
    having a laugh over something delicious to eat, then we know we are doing
    our job properly.
  </p>
</div>
<a routerLink="/"><i class="fa fa-angle-left"></i> Go to Homepage</a>
