<div class="row">
  <div class="col-md-9">
    <form (ngSubmit)="addIngredient(f)" #f="ngForm">
      <div class="input-group my-3 py-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Ingredient</span>
        </div>
        <input type="text" name="username" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" ngModel required />

        <input class="form-control" type="number" name="amount" placeholder="amount" ngModel required
          pattern="^[1-9]+[0-9]*$" />
      </div>
      <p *ngIf="!f.valid && f.touched">Please Fill input fields</p>

      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
          {{ editMode ? "Update" : "Add" }}
        </button>
        <button class="btn btn-danger" (click)="onClear()">Clear</button>
        <button class="btn btn-warning" (click)="onDelete()" *ngIf="editMode">
          Remove Ingredient
        </button>
      </div>
    </form>

    <a routerLink="/" class="goToHomePage"><i class="fa fa-angle-left"></i> Go to Homepage</a>
  </div>

  <div class="col-md-7 my-3">
    Ingredient List:
    <ul class="list-group my-3">
      <a style="cursor: pointer;" *ngFor="let ingredient of ingredients; let i = index" (click)="addEdit(i)">
        <li class="list-group-item">
          {{ ingredient.name }} ({{ ingredient.amount }})
        </li>
      </a>
    </ul>
  </div>
</div>